@import '../../../styles/settings.scss';

.root {
  cursor: pointer;
  // transition: 1s;
  .show {
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 999;
  }

  .hide {
   
    // display: none;
    transition: 1s transform linear;
    transform: translateY(-100%);
    color: transparent;
    // .part {

    //   background-color: black;
    // }
  }

  .header {
    position: fixed;
    color: white;
    text-align: center;
    margin: 20% 35%;
    transition: .6s;

    &:hover {
      color: darkgreen;
    }
  }

  // .part {
  //   height: 100vh !important;
  // }
}
