@import '../../../styles/settings.scss';

.root {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    
    .jumbo {
        background-color: $background-color;
    }
    .input {
        width:60px;
    }
}
