@import '../../../styles/settings.scss';

.nav {
  background-color: black;
  padding: 5px;
  display: flex;
  align-items: center;

}

.menuItem {
  margin-left: 20px;
  color: white;

  opacity: .6;

  &:hover {
    opacity: 1;
    color: white;
  }
}

.cart {
  margin-top: 4px;
  margin-bottom: 0;
}

.login {
  color: green;
  margin-right: 30px;
  margin-left: auto;
  opacity: .8;

  &:hover {
    opacity: 1;
    color: green;
  }
}
