@import '../../../styles/settings.scss';

.root {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  .exit {
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 70%;
    font-weight: bolder;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  .empty {
    width: 500px;
    height: 100px;
    text-align: center;
  }
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}
