@import '../../../styles/settings.scss';

.root {
  background-color: $background-color;
  padding-top: 0;
  margin-bottom: -20px;

  @media (max-width: 400px) {
    padding-top: 50px;
  }

  .input {
    margin: 0 auto;
    position: relative;
  }

  .enter {
    position: absolute;
    background-color: darkgray;
    z-index: 9;
    right: 25px;
    bottom: 5px;
    border-radius: 5px;
    padding: 3px;
    transition: .3s;
    &:hover{
      background-color: gray;
      color: darkgray;
    }
  }
}
